html.
  <head>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link href='http://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  </head>
  <body>
    <h1 class="title">Paddy and Chris</h1>
    <h2>2015</h2>
    <p>Please enter username</p>
    <form action="/send" method="get" id="form">
      <input type="text" id="search_name">
      <input class="submit" type="submit" value="Search">
    </form>

     <img id="bluebutterfly1" src="/images/bluebutterflybackless.png">
     <img id="bluebutterfly2" src="/images/bluebutterflybackless.png">
     <img id="bluebutterfly3" src="/images/bluebutterflybackless.png">
     <img id="openpeony1" src="/images/peony.png">
     <img id="openpeony2" src="/images/peony.png">
     <img id="poppyopen1" src="/images/tallpoppybackless.png">
     <img id="poppyopen2" src="/images/tallpoppybackless.png">
     <img id="poppyclosed1" src="/images/poppyheadbackless.png">
     <img id="poppyclosed2" src="/images/poppyheadbackless.png">
     <img id="grassleft" src="/images/grassbackless.png">
     <img id="grassright" src="/images/grassbacklessright.png">
     <img id="closedpeony1" src="/images/peonybud.png">
     <img id="closedpeony2" src="/images/peonybud.png">
     <img id="ladybird1" src="/images/ladybirdbackless.png">
     <img id="ladybird2" src="/images/ladybirdbackless.png">

  </body>



    <script>

     $(document).ready(function(e) { 
      
          $(".submit").click(function(e) {
            e.preventDefault();
             var formData = {
              'name': document.getElementById("search_name").value};
                
            $.ajax({
                type: "GET",
                data: formData,
                url: '/send',
                dataType: 'json'
              }).done(function(guest) {
                console.log("guest name", guest);
            });

         });
      });
    </script>


   

