html {
 background-image:url('backdrop.png');
 background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: 'Pinyon Script', cursive;
  margin: auto;
  width: 1020px;
  color: black;
}

.nav ul li a {
  display: inline;
  text-decoration: none;
  padding: 1em;
  float: left;
  font-size: 40px;
}

